@page
@model ResturentManagementSystem.Pages.Admin.MenuItems.UpsertModel
@{
}
<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">
                @(Model.menuItem.Id != 0 ? "Update" : "Create")Menu Item
            </h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="menuItem.Name"></label>
            <input asp-for="menuItem.Name" class="form-control" />
            <span asp-validation-for="menuItem.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="menuItem.Description"></label>
            <textarea asp-for="menuItem.Description" class="form-control" ></textarea>
            <span asp-validation-for="menuItem.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="menuItem.Price"></label>
            <input asp-for="menuItem.Price" class="form-control" />
            <span asp-validation-for="menuItem.Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="menuItem.Image"></label>
            <input type="file" name="files" id="uploadBox" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="menuItem.CategoryId"></label>
            <select asp-for="menuItem.CategoryId" asp-items="Model.CategoryList" class="form-select">
                <option disabled selected>--Select Category--</option>
            </select>
            <span asp-validation-for="menuItem.CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="menuItem.FoodTypeId"></label>
            <select asp-for="menuItem.FoodTypeId" asp-items="Model.FoodTypeList" class="form-select">
                <option disabled selected>--Select Food Type--</option>
            </select>
            <span asp-validation-for="menuItem.FoodTypeId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px;">Create</button>
        <a asp-page="Index" class="btn btn-primary" style="width:150px;">Back to list</a>
    </div>
</form>

@section Scripts {
    @{
        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: [
                    // Core editing features
                    'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
                    // Your account includes a free trial of TinyMCE premium features
                    // Try the most popular premium features until May 31, 2025:
                    'checklist', 'mediaembed', 'casechange', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown', 'importword', 'exportword', 'exportpdf'
                ],
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                tinycomments_mode: 'embedded',
                tinycomments_author: 'Author name',
                mergetags_list: [
                    { value: 'First.Name', title: 'First Name' },
                    { value: 'Email', title: 'Email' },
                ],
                ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
            });
        </script>
        <partial name="_ValidationScriptsPartial"></partial>
    }
}